<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#" class="active">Login</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#" [routerLink]="['/register']">Register</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form [formGroup]="loginForm" novalidate (ngSubmit)="regSave(loginForm.value, loginForm.valid)">
                                <div class="form-group">
                                    <input type="email" name="email" formControlName="email" tabindex="1" class="form-control" placeholder="Email Address" value=""
                                        required>
                                    <div *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched" class="alert alert-danger">You must add an email.</div>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" formControlName="password" tabindex="2" class="form-control" placeholder="Password">
                                    <div *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched" class="alert alert-danger">You must add an Password.</div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>