<div class="content">
      <div class="contact-profile">
            <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
            <p>{{senderEmail}}</p>
            <!-- <div class="social-media">
              <i class="fa fa-facebook" aria-hidden="true"></i>
              <i class="fa fa-twitter" aria-hidden="true"></i>
              <i class="fa fa-instagram" aria-hidden="true"></i>
          </div> -->
      </div>
      <div id="messages" class="messages">
            <ul>
                  <li *ngFor="let ms of msg">
                        <div [ngClass]="ms.senderId!=uId?'sent':'replies'">
                              <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
                              <p>{{ms.msgContent}}</p>
                        </div>
                  </li>
            </ul>
      </div>

      <div class="message-input">
            <div class="wrap">
                  <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
                        <div class="form-group">
                              <input type="text" class="form-control" formControlName="message" placeholder="Type a message..." autocomplete="off">

                        </div>
                  </form>
                  <!-- <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
              <button class="submit">
                  <i class="fa fa-paper-plane" aria-hidden="true"></i>
              </button> -->
            </div>
      </div>
</div>