<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a [routerLink]="['/login']">Login</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#" class="active" >Register</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form [formGroup]="regForm" novalidate (ngSubmit)="regSave(regForm.value, regForm.valid)">
                                <div class="form-group">
                                    <input type="text" name="username" formControlName="username" tabindex="1" class="form-control" placeholder="Username" value="">
                                    <div *ngIf="regForm.controls['username'].hasError('required') && regForm.controls['username'].touched" class="alert alert-danger">You must add an Username.</div>
                                    
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" formControlName="email" tabindex="1" class="form-control" placeholder="Email Address" value="" required>
                                    <div *ngIf="regForm.controls['email'].hasError('required') && regForm.controls['email'].touched" class="alert alert-danger">You must add an email.</div>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" formControlName="password" tabindex="2" class="form-control" placeholder="Password">
                                    <div *ngIf="regForm.controls['password'].hasError('required') && regForm.controls['password'].touched" class="alert alert-danger">You must add an Password.</div>                                    
                                </div>
                                <div class="form-group">
                                    <input type="text" name="Mobile" formControlName="mobile" tabindex="2" class="form-control" placeholder="Mobile">
                                    <div *ngIf="regForm.controls['mobile'].hasError('required') && regForm.controls['mobile'].touched" class="alert alert-danger">You must add an Mobile.</div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>