<ul>
      <span *ngFor="let user of userData">
            <li *ngIf="user.id!=uId" class="contact" (click)="displayUserInfo(user)">
                  <div class="wrap">
                        <span class="contact-status online"></span>
                        <img src="http://emilcarlsson.se/assets/louislitt.png" alt="" />
                        <div class="meta">
                              <p class="name">{{user.userName}}</p>
                              <p class="preview">{{user.email}}</p>
                        </div>
                  </div>
            </li>
      </span>
</ul>