<div id="frame">
    <div id="sidepanel">
        <div id="profile">
            <div class="wrap">
                <img id="profile-img" src="http://emilcarlsson.se/assets/mikeross.png" class="online" alt="" />
                <span *ngFor="let user of userData">
                    <p *ngIf="user.id==uId">{{user.userName}}</p>
                </span>
                <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
                <div id="status-options">
                    <ul>
                        <li id="status-online" class="active">
                            <span class="status-circle"></span>
                            <p>Online</p>
                        </li>
                        <li id="status-away">
                            <span class="status-circle"></span>
                            <p>Away</p>
                        </li>
                        <li id="status-busy">
                            <span class="status-circle"></span>
                            <p>Busy</p>
                        </li>
                        <li id="status-offline">
                            <span class="status-circle"></span>
                            <p>Offline</p>
                        </li>
                    </ul>
                </div>
                <div id="expanded">
                    <label for="twitter">
                        <i class="fa fa-facebook fa-fw" aria-hidden="true"></i>
                    </label>
                    <input name="twitter" type="text" value="mikeross" />
                    <label for="twitter">
                        <i class="fa fa-twitter fa-fw" aria-hidden="true"></i>
                    </label>
                    <input name="twitter" type="text" value="ross81" />
                    <label for="twitter">
                        <i class="fa fa-instagram fa-fw" aria-hidden="true"></i>
                    </label>
                    <input name="twitter" type="text" value="mike.ross" />
                </div>
            </div>
        </div>
        <div id="search">
            <label for="">
                <i class="fa fa-search" aria-hidden="true"></i>
            </label>
            <input type="text" [(ngModel)]="searchText" placeholder="Search contacts..." />
        </div>
        <div id="contacts">
            <ul>
                <span *ngFor="let user of userData | category: searchText">
                    <li *ngIf="user.id!=uId" class="contact" (click)="displayUserInfo(user)">
                        <div class="wrap">
                            <span class="contact-status online"></span>
                            <img src="http://emilcarlsson.se/assets/louislitt.png" alt="" />
                            <div class="meta">
                                <p class="name">{{user.userName}}</p>
                                <p class="preview">{{user.email}}</p>
                            </div>
                        </div>
                    </li>
                </span>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="contact-profile">
            <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
            <p>{{senderEmail}}</p>
            <!-- <div class="social-media">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </div> -->
        </div>
        <div id="messages" class="messages">
            <ul>
                <li *ngFor="let ms of msg">
                    <div [ngClass]="ms.senderId!=uId?'sent':'replies'">
                        <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
                        <p>{{ms.msgContent}}</p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="message-input">
            <div class="wrap">
                <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="message" placeholder="Type a message..." autocomplete="off">

                    </div>
                </form>
                <!-- <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                <button class="submit">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                </button> -->
            </div>
        </div>
    </div>
</div>